body,
html {
    background: url(/assets/images/bgnoise.png);
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #1F1F1F;
    font-family: 'Noto Serif JP', serif;
    display: flex;
    overflow: hidden;
}



.book_chapters_wrap {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.book_chapters_list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 90%;
    justify-content: space-around;

}

.chapters {
    color: #f1f1f1;
    font-size: 1.3em;
    font-weight: 700;
    opacity: 0.4;
    cursor: pointer;

}

.chapter_view {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    border: 1px solid red;

}

#chapter_title {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    transition: 1s;

}

.chapter_title_underline {
    width: 200px;
    border: 1px solid red;
}

/*----INTRODUCTION CHAPTER----*/

.intro_chapters_wrap {
    color: #fff;
    overflow-y: auto;
    display: flex;
    flex-flow: column;
    width: 65%;
    height: 80%;
    -ms-overflow-style: none;
    margin-top: 20px;
    scroll-behavior: smooth;



}

.intro_chapters_wrap::-webkit-scrollbar {
    display: none;
}


.introduction,
.introduction2 {
    position: relative;
    opacity: 0.7;
    font-family: 'Noto Serif JP', serif;

}

.poem {
    width: 80%;
    align-self: center;
    text-align: center;
    margin: 15px 0px;
    border-left: 1px solid red;
    border-right: 1px solid red;
}

.end_of_chapter {
    align-self: flex-end;
    color: red;
    text-transform: uppercase;
}

/*----//  INTRODUCTION CHAPTER----*/
/*----The Hermetic Philosophy CHAPTER----*/



/*----//  The Hermetic Philosophy CHAPTER----*/


a {
    text-decoration: none;
    color: #fff;
}

a:focus {
    outline: none;
    text-decoration: none;
}

#chapter_number {
    color: #fff;
    visibility: hidden;
}