body {
    background-color: #1a1a1a;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

.top_contents {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;

}

.kybalion_symbol {
    height: 60px;
    align-self: center;
}

.main_title {
    text-align: center;
    color: #fff;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.5em;
    font-weight: 200;
}

