body,
html {
    background: url(/assets/images/bgnoise.png);
    width: 100%;
    height: 100%;
    background-color: #1F1F1F;
    font-family: 'Noto Serif JP', serif;
    display: flex;
    overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */


.book_chapters_wrap {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.book_chapters_list {
    list-style: none;
    margin: 0;
    margin-left: 50px;
    padding: 0;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 90%;
    justify-content: space-around;

}

.chapters {
    color: #f1f1f1;
    font-size: 1.3em;
    font-weight: 700;
}

.non_chapter {
    font-weight: 200;
    opacity: 0.5;
}

.shown_chapters {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

}

.chapter_title {
    color: #fff;
    margin: 0;
    text-transform: uppercase;

}

.intro_author {
    color: #fff;
    font-weight: 200;
    margin: 0;
    margin-left: 500px;
}

.intro_to_centenary_wrap {
    color: #fff;
    opacity: 0.7;
    overflow-y: auto;
    width: 65%;
    height: 80%;
    margin-top: 20px;

}



.basic_principles {
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    text-align: center;


}

.strong_text {
    color: #fff;
    font-size: 1em;
    font-weight: 900;
    background-color: red;
    margin-bottom: 15px;

}

.intro_to_centenary_wrap::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.intro_to_centenary_wrap {
    -ms-overflow-style: none;
}

